/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
    Purple  650D88
    Blue    1505F7
    Grey    C9C9EE
    Black   000000
    White   FFFFFF
*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
.navbar, .navbar-inverse {
    background: #000 !important;
    border-color: #000 !important;
}
html {
    position: relative;
    min-height: 100%;
}

/* Text Styles
-------------------------------------------------- */
h1 {
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 3.5em;
}

h2 {
    color: #C9C9EE;
    margin-top: 10px;
    font-size: 2.5em;
}
h3 {
    color: #FFFFFF;
    font-size: 2.0em;
}
h3.grey {
    color: #FFFFFF;
    margin-top: 150px;
    margin-bottom: 100px;
}
h4 {
    color: #C9C9EE;
}
h5 {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 1.5em;
}
h6 {
    color: #8A2BE2;
}
p {
    color: #C9c9ee;
}
p.blue {
    color: #2C2CFF;
    font-weight: bold;
}
p.purple {
    color: #8A2BE2;
    font-size:1.5em;
    font-weight:bold;
}
a {
    color: #FFFFFF;
}
a.purple {
    color: #8A2BE2;
}
a:hover {
    cursor: pointer;
}
.box-para{
    text-align:justify;
}
/* END Text Styles
-------------------------------------------------- */



/* DIV Styles
-------------------------------------------------- */
.container-full{
    margin-left:100px;
    margin-right:100px;
}
.skill-set-div {
    border: 1px solid #8A2BE2;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-set-div li {
    color: #8A2BE2;
    padding: 10px;
}
.about-div {
    margin: 60px 60px 0px;
}

.contact-div {
    margin: 170px auto 220px;
    text-align: center;
    border: 1px solid #8A2BE2;
    padding: 100px;
}
.intro-div {
    position: absolute;
    margin-left: 50px;
}
/* END DIV Styles
-------------------------------------------------- */


ul.skill-set {
    columns: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    padding: 25px;
    margin-left:10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}
.project-block {
    margin: 20px 0px;
    border: 1px solid #2C2CFF;
    padding: 10px 0px;
}

.project-desc {
    text-align: center;
}

/* Image Styles
-------------------------------------------------- */
.personal-img {
    display: block;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 60%;
    max-height: 60%;
}
.project-img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 80%;
    max-height: 70%;
}
/* END Image Styles
-------------------------------------------------- */



.center-vert {
    display: flex;
    align-items: center;
}
.contact-button {
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 1.5em;
}
.header-space {
    margin-top:70px;
    background:none;
}
.projects-div{
    margin:0px 100px 70px;
}
.project-link{
    vertical-align:middle;
}
.about-anchor {
    position: absolute;
    height: 150px;
    margin-top: -150px;
}
.anchor {
    display: block;
    visibility: hidden;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.container-about{
    max-width:100%;
    margin:20px;
}
body {
    /* Margin bottom by footer height */
    background-color: #000000;
    margin:0;
    padding:0;
}

.para-header{
    color: #00A6ED;
    margin: 10px 25px;
    font-weight: bold;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
p.skill-title {
    font-size: 1.2em;
    padding-top:20px;
    padding-left:20px;
    color: #FFFFFF;
}
.initial-invisible
{
    display:none;
}
.right-area {
    grid-area: right;
    text-align: right;
}
.title-area {
    grid-area: a;
}
.desc-area {
    grid-area: b;
}
.desc-area-02 {
    grid-area: e;
    margin: 10px 25px;
}
.container-grey {
    border-color: #EEE5E9;
    border-style: solid;
    border-width: 2px;
    background-color: #504746;
    padding: 0px 0px 50px 0px;
}

.diamond-wrap {
    grid-area: b;
    display: inline-block;
    margin: 50px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid #F6511D;
    transform: rotate(45deg);
}

.diamond-wrap img {
    display: block;
    transform: rotate(-45deg);
    transform-origin: left center;
}

.wrapper {
    display: grid;
    background-color: #504746;
    grid-gap:16px;
    border-color: #EEE5E9;
    border-width: 2px;
    border-style: solid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-areas: 
    'a   b   b   c   right'
    'd   e   e   f   right'
}

div.equal-cell-row {
    display: table;
    width: 100%;
    table-layout: fixed; /* For cells of equal size */
    margin-bottom: 20px;
    color: #8A2BE2
}
div.equal-cell-row a {
    display: table-cell;
    text-align: center;
    padding: 10px;
}
div.equal-cell-row a:hover {
    background-color: #C9C9EE;
}
         
.active-cell {
    color: #ffffff !important;
    background: #8A2BE2;
    border-color: #8A2BE2 !important;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    margin-top:110px;
}

.action-button {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 15px;
    margin:5px;
    border: 1px solid #ffffff !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
.action-button:hover {
    color: #ffffff !important;
    background: #8A2BE2;
    border-color: #8A2BE2 !important;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.action-button:active {
    background-color: #2C2CFF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#skillBlock {
    display:none;
}
.snack-bar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #000 !important; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 1px; /* Rounded borders */
    border: solid #8A2BE2;
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}